---
import { getCollection } from "astro:content";
import { SITE_TITLE } from "../config";
import { formatDateString } from "../lib/dates.ts";

import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import BlogPost from "../components/BlogPost.astro";

// const allBlogs = await getCollection("blog");
const publishedBlogs = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
});

const sortedBlogs = publishedBlogs.sort((a, b) => {
  return new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf();
});
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedBlogs.map((blog) => (
          <BlogPost url={`/blog/${blog.slug}/`} title={blog.data.title} date={formatDateString(blog.data.pubDate)} />
        ))
      }
    </ul>
  </section>
</PageLayout>
