---
import { getCollection } from "astro:content";
import { SITE_TITLE } from "../config";
import { formatDateString } from "../lib/dates.ts";

import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import ProjectPost from "../components/ProjectPost.astro";

// const allBlogs = await getCollection("blog");
const publishedProjects = await getCollection('projects', ({ data }) => {
  return data.draft !== true;
});

const sortedProjects = publishedProjects.sort((a, b) => {
  return new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf();
});
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedProjects.map((blog) => (
          <ProjectPost url={blog.data.url} title={blog.data.title} date={formatDateString(blog.data.pubDate)} />
        ))
      }
    </ul>
  </section>
</PageLayout>
