---
const { url, date, title } = Astro.props;
---

<li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
    <div class="title">
        {
            <a href={url}class="unset hover:text-text-link">
                {title}
            </a>
        }
    </div>
    <div class="text-text-muted text-sm italic pt-1">
        <time>
            {date}
        </time>
    </div>
</li>