---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Harrison Palmer
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/hscopalm"
      >
        <i
          class="fa-brands fa-github"
          aria-hidden="true"
          title="Harrison on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://www.linkedin.com/in/harrisonspalmer/"
        aria-label="Harison on LinkedIn"
      >
        <i
          class="fa-brands fa-linkedin"
          aria-hidden="true"
          title="Harrison on LinkedIn"></i>
        <span>LinkedIn</span>
      </a>
    </div>
  </div>
  <div>
    <p class="mb-8">
      👋 Hello! Welcome to my page, I'm glad you're here!
      <br><br>
      I'm an avid data engineer, traveler, and outdoor enthusiast. In this page you'll find a collection of my thoughts, projects, and experiences. I'm always looking for new opportunities to learn and grow, so feel free to reach out if you have any questions or just want to chat!
      <br><br>
    </p>
    <p class="mb-8">
      <code class="py-1 px-2">Professional Life</code><br>
      In my professional life, I am passionate about building scalable pipelines that provide <strong>real</strong> business value. 
      I have experience working with a variety of data technologies, including Apache Kafka, Apache Flink, and Apache Spark. 
      I am also a strong advocate for open source software and have contributed to a number of projects in the past.
      <br><br>
      <a href={"https://www.linkedin.com/in/harrisonspalmer/"} target="_blank">
      Most of my professional writing is posted to LinkedIn. Connect with me there to stay up to date on my latest projects and thoughts.
      </a>
    </p>
    <p class="mb-8">
      <code class="py-1 px-2">Personal Life</code><br>
      In my personal life, I am an avid traveler and outdoor enthusiast. I love exploring new places and trying new things.
      <br><br>
      Many of these trips are documented on my blog as well. Commonly features among these include mountain summits, remote backpacking trips, and urban excursions. Check it out!
    </p>
  </div>
</section>
