---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Harrison Palmer
      </span>
    </h1>
    <p class="text-center mb-4">Engineer - Outdoorsman - Writer</p>
    <div
    class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <!-- Github -->
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/hscopalm"
      >
        <i
          class="fa-brands fa-github"
          aria-hidden="true"
          title="Harrison on GitHub"></i>
        <span>GitHub</span>
      </a>

      <!-- LinkedIn -->
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://www.linkedin.com/in/harrisonspalmer/"
        aria-label="Harrison on LinkedIn"
      >
        <i
          class="fa-brands fa-linkedin"
          aria-hidden="true" 
          title="Harrison on LinkedIn"></i>
        <span>LinkedIn</span>
      </a>

      <!-- Gmail -->
      <a
        class="unset ml-4 hover:text-text-link"
        href="mailto:hscopalm@gmail.com"
        aria-label="Email me!"
      >
        <i
          class="fa-solid fa-at"
          aria-hidden="true" 
          title="Email me!"></i>
        <span>Email</span>
      </a>

      <!-- Resume
      <a
        class="unset ml-4 hover:text-text-link"
        href="/resume.pdf"
        aria-label="Resume"
      >
        <i
          class="fa-solid fa-paperclip"
          aria-hidden="true" 
          title="Resume"></i>
        <span>Resume</span>
      </a> -->

      <!-- Book time -->
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://calendar.app.google/QWU1CL1aAyjVc2wm7"
        aria-label="Meet with Harrison"
      >
        <i
          class="fa-regular fa-calendar"
          aria-hidden="true" 
          title="Meet with Harrison"></i>
        <span>Schedule</span>
      </a>
    </div>
  </div>
  <div>
    <p class="mb-8">
      👋 Hello! Welcome to my page, I'm glad you're here!
      <br><br>
      I'm an avid data engineer, traveler, and outdoor enthusiast. In this page you'll find a collection of my thoughts, projects, and experiences. 
      <br><br>
      Got a project? Want to chat? Use a link above and let's connect!
      <br>
    </p>
    <p class="mb-8">
      <div class="=py-1 flex items-center justify-center gap-1">
        <code class="py-1 px-2">Professional Life</code><br>
      </div>
      In my professional life, I am passionate about building scalable infrastructure as simply as possible that provides <strong>real business value</strong>. 
      Too often, data practicioners get caught up in new tech, or become abstracted from core needs of a business. <strong>I strive to bridge that gap</strong>.
      <br><br>
      I have experience working with a wide variety of techologies and frameworks across both batch and streaming data processing. My favorite toolkit includes:
      <br>&nbsp; - Apache Kafka
      <br>&nbsp; - Apache Airflow
      <br>&nbsp; - dbt
      <br>&nbsp; - Snowflake
      <br>&nbsp; - AWS (S3, EC2, Lambda, Glue, etc.)
      <br>&nbsp; - Python (advanced proficiency)
      <br>&nbsp; - SQL (advanced proficiency)
      
      <br><br>
      Naturally, my skillset extends beyond just the above, and every project is different. But at the core, fundamentals stay the same.
      
      <br><br>
      <a href={"https://www.linkedin.com/in/harrisonspalmer/"} target="_blank">
      Most of my professional writing is posted to LinkedIn. Connect with me there to stay up to date on my latest projects and thoughts.
      </a>
    </p>
    <br><br>
    <p class="mb-8">
      <div class="=py-1 flex items-center justify-center gap-1">
        <code class="py-1 px-2">Personal Life</code><br>
      </div>
      In my personal life, I am an avid traveler and outdoor enthusiast. Currently roaming the United States in four month stints, searching for hidden gem cities to settle in.
      <br><br>
      I grew up in Austin, TX but have since lived and extensively explored in WA, AZ, CO, TN, and NH. At each stop, I'm attempting to speedrun whatever the local outdoor scene has to offer. 
      <br><br>
      Many of these trips are documented on my blog as well. Common features among these include mountain summits, remote backpacking trips, and urban excursions. Check it out!
    </p>
  </div>
</section>
